---
import "monza-editor/style.css";
import styles from "./VanillaExample.module.css";
---

<div class={styles.main} id="vanilla-example"></div>
<style>
  div {
    height: 10rem;
  }
</style>
<script>
  import { render } from "monza-editor";
  import { highlighter, source, theme } from "../utility.js";

  const element = document.getElementById("vanilla-example");

  if (!element) {
    throw new Error("No editor element");
  }

  render(element as HTMLDivElement, {
    highlight: (text) =>
      highlighter.codeToHtml(text, {
        lang: "typescript",
        structure: "inline",
        theme,
      }),
    value: source,
  });
</script>
