.main {
  position: relative;
}

.text {
  white-space: break-spaces;
  word-break: break-word;
}

.editor {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: var(--me-padding, 0.1rem);
  text-align: left;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overscroll-behavior: none;
}

.textarea {
  composes: editor;
  composes: text;

  caret-color: light-dark(black, white);
  color: transparent;
  resize: none;
  outline: none;
  /* TODO field-sizing: content; */
}

.pre {
  composes: editor;

  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  scrollbar-width: 0;
}

.code {
  composes: text;
}
