---
import Default from "../layouts/Default.astro";
import VanillaEditor from "../components/VanillaEditor.astro";
---

<Default>
  <article>
    <h1>Monza editor</h1>
    <ul>
      <li><a href="https://github.com/raviqqe/monza-editor">GitHub</a></li>
      <li>
        <a href="https://www.npmjs.com/package/monza-editor">
          <code>monza-editor</code>
        </a>
      </li>
      <li>
        <a href="https://www.npmjs.com/package/@monza-editor/solid"
          ><code>@monza-editor/solid</code></a
        >
      </li>
    </ul>
    <h2>Vanilla JS</h2>
    <VanillaEditor />
  </article>
</Default>
