.main {
  position: relative;
}

.text {
  white-space: break-spaces;
  word-break: break-word;
}

.editor {
  border: none;
  box-sizing: border-box;
  font-family: var(--font-family, monospace);
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: var(--padding, 0.1rem);
  text-align: left;
}

.textarea {
  composes: editor;
  composes: text;

  field-sizing: content;
  resize: none;
}

.pre {
  composes: editor;

  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
}

.code {
  composes: text;
}
